<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-none justify-content-between">
        <a href="{{ url_for('index') }}"><img src="static/img/logo.png" height="50px"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if chat %}active{% endif %}" 
                       href="{{ url_for('chat') }}">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if talk %}active{% endif %}" 
                       href="{{ url_for('talk') }}">Talk</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav nav-pills">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                <li class="nav-item reg"><a class="nav-link" href="#">Register</a></li>
            </ul>
        </div>
    </nav>
</header>