.navbar-inner {
    background:transparent;
}

body {
    background-color: #110022;
    color: rgb(83, 205, 243);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 100;
}

.reg {
    background-color: rgb(224, 51, 169);
    border-radius: 5px;
    margin-left: 15px;
}

h1, h2, h3 {
    font-weight: 100;
}